body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding-bottom: 60px; /* Espace pour le menu bas */
}

header {
  background-color: #003366;
  color: white;
  text-align: center;
  padding: 1em;
}

main {
  padding: 1em;
}

.bottom-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #FFD700;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bottom-menu a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}